/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define DEFAULT  0
#define SYM      1
#define NAV      2
#define NUMS     3


/ { 

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
        tri_layer_2 {
            if-layers = <2 1>;
            then-layer = <3>;
        };
    };

    behaviors {
        semi_to_colon: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "SEMI TO COLON";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMI>, <&kp COLON>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
         combo_enter {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp ENTER>;
        };
        
        combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };
        
        combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };
    };

        keymap {

        compatible = "zmk,keymap";
                
        default_layer {
            label = "DEFAULT";
            bindings = <
            &kp Q &kp W &kp E &kp R &kp T 						&kp Y &kp U  &kp I    &kp O   &kp P 
            &kp A &kp S &kp D &kp F &kp G 			            &kp H &kp J  &kp K    &kp L   &kp QUOT
            &kp Z &kp X &kp C &kp V &kp B				        &kp N &kp M  &kp CMMA &kp DOT &kp &semi_to_colon
                            &mo NAV &kp LSHFT   				&kp SPC &mo SYM
            >;
         };

        nav_layer {
            label = "SYM";
            bindings = <
            &kp ESC    &kp LBRC            &kp LBKT          &kp LPAR    &kp TILDE2	    &kp CARET  &kp RPAR      &kp RBKT  &kp RBRC          &kp GRAVE 
            &kp MINUS  &kp KP_ASTERISK     &kp KP_EQUAL      &kp UNDER      &kp DOLLAR 	    &kp POUND     &sk RSHFT     &sk RCTRL &sk RALT          &sk LCMD
            &kp PLUS   &kp PIPE 	       &kp AT &kp SLASH  &kp PERCENT 	    &none       &kp BSLH             &kp AMPERSAND    &kp QMARK         &kp EXCLAMATION
                                                    &mo 1  &kp LSHIFT  		&kp RGUI &mo 2 
            >;
		};
		
		right_layer {
            label = "NAV";
            bindings = <
            &kp TAB   &kp LG(GRAVE)  &kp LG(LS(LBKT))  &kp LG(LS(RBKT)) &kp LG(TAB)  		        &kp CAPS    &kp G(LS(NUM_2))     &none     &none      &none
            &sk LCMD  &sk LALT       &sk LCTRL         &sk LSHFT        &none 			            &kp LEFT   &kp UP  &kp DOWN  &kp RIGHT  &kp BKSP
            &none     &none          &none             &none            &none    		            &none    &none     &none     &none      &kp ENTER
                                                           &mo NAV &kp LSHIFT  	                    &kp SPC  &mo SYM 
            >;
		};	
		
		tri_layer {
            label = "NUMS";
            bindings = <
            &kp NUM_1  &kp NUM_2    &kp NUM_3    &kp NUM_4    &kp NUM_5 			&kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0
            &sk LCMD   &sk LALT     &sk LCTRL    &sk LSHFT    &none 			    &none     &sk RSHFT &sk RCTRL &sk RALT  &sk RCMD
            &none      &none        &none        &none        &none                 &none     &none     &none     &none     &bootloader
                                                      &mo NAV &kp LSHIFT  	        &kp SPC  &mo SYM 
            >;
		};	
	};
};
